[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI-Easy-Use"]
	path = custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use
[submodule "custom_nodes/CMManager"]
	path = custom_nodes/CMManager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI_Custom_Nodes_AlekPet"]
	path = custom_nodes/ComfyUI_Custom_Nodes_AlekPet
	url = https://github.com/AlekPet/ComfyUI_Custom_Nodes_AlekPet.git
[submodule "web/extensions/SDXL_Art_Library_Zho"]
	path = web/extensions/SDXL_Art_Library_Zho
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-SDXL_Art_Library-Button.git
[submodule "custom_nodes/mikey_nodes"]
	path = custom_nodes/mikey_nodes
	url = https://github.com/bash-j/mikey_nodes.git
[submodule "custom_nodes/ComfyUI-Selector-CoInput-Multilingual"]
	path = custom_nodes/ComfyUI-Selector-CoInput-Multilingual
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-Selector-CoInput-Multilingual.git
[submodule "custom_nodes/OneButtonPrompt"]
	path = custom_nodes/OneButtonPrompt
	url = https://github.com/AIrjen/OneButtonPrompt
[submodule "custom_nodes/stability-ComfyUI-nodes"]
	path = custom_nodes/stability-ComfyUI-nodes
	url = https://github.com/Stability-AI/stability-ComfyUI-nodes.git
[submodule "custom_nodes/Cut-off"]
	path = custom_nodes/Cut-off
	url = https://github.com/BlenderNeko/ComfyUI_Cutoff
[submodule "custom_nodes/was-node-suite-comfyui"]
	path = custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
[submodule "custom_nodes/IPAdapter-ComfyUI"]
	path = custom_nodes/IPAdapter-ComfyUI
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
[submodule "custom_nodes/ComfyUI-post-processing-nodes"]
	path = custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes.git
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui.git
