[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI-Easy-Use"]
	path = custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use
[submodule "custom_nodes/CMManager"]
	path = custom_nodes/CMManager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "web/extensions/SDXL_Art_Library_Zho"]
	path = web/extensions/SDXL_Art_Library_Zho
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-SDXL_Art_Library-Button.git
[submodule "custom_nodes/mikey_nodes"]
	path = custom_nodes/mikey_nodes
	url = https://github.com/bash-j/mikey_nodes.git
[submodule "custom_nodes/ComfyUI-Selector-CoInput-Multilingual"]
	path = custom_nodes/ComfyUI-Selector-CoInput-Multilingual
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-Selector-CoInput-Multilingual.git
[submodule "custom_nodes/OneButtonPrompt"]
	path = custom_nodes/OneButtonPrompt
	url = https://github.com/AIrjen/OneButtonPrompt
[submodule "custom_nodes/stability-ComfyUI-nodes"]
	path = custom_nodes/stability-ComfyUI-nodes
	url = https://github.com/Stability-AI/stability-ComfyUI-nodes.git
[submodule "custom_nodes/Cut-off"]
	path = custom_nodes/Cut-off
	url = https://github.com/BlenderNeko/ComfyUI_Cutoff
[submodule "custom_nodes/was-node-suite-comfyui"]
	path = custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
[submodule "custom_nodes/IPAdapter-ComfyUI"]
	path = custom_nodes/IPAdapter-ComfyUI
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
[submodule "custom_nodes/ComfyUI-post-processing-nodes"]
	path = custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes.git
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui.git
[submodule "custom_nodes/Image-Selector"]
	path = custom_nodes/Image-Selector
	url = https://github.com/SLAPaper/ComfyUI-Image-Selector.git
[submodule "custom_nodes/Plasma"]
	path = custom_nodes/Plasma
	url = https://github.com/Jordach/comfy-plasma.git
[submodule "custom_nodes/Custom-Scripts"]
	path = custom_nodes/Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts.git
[submodule "custom_nodes/TiledKSampler"]
	path = custom_nodes/TiledKSampler
	url = https://github.com/BlenderNeko/ComfyUI_TiledKSampler.git
[submodule "custom_nodes/ImagesGrid"]
	path = custom_nodes/ImagesGrid
	url = https://github.com/LEv145/images-grid-comfy-plugin.git
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
[submodule "custom_nodes/ComfyUI-BrushNet"]
	path = custom_nodes/ComfyUI-BrushNet
	url = https://github.com/nullquant/ComfyUI-BrushNet.git
[submodule "custom_nodes/comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes.git
[submodule "custom_nodes/ComfyUI-Advanced-ControlNet"]
	path = custom_nodes/ComfyUI-Advanced-ControlNet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet.git
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials.git
[submodule "custom_nodes/ComfyUI-Florence2"]
	path = custom_nodes/ComfyUI-Florence2
	url = https://github.com/kijai/ComfyUI-Florence2.git
