# comfyui:

comfyui-frontend-package==1.15.13
torch
torchsde
torchvision
torchaudio
numpy>=1.25.0
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:

kornia>=0.7.1
spandrel
soundfile
av

#Manager:

GitPython
PyGithub
matrix-client==0.4.0
transformers
huggingface-hub>0.20
typer
rich
typing-extensions
toml
uv
chardet

numpy>=1.19.0
diffusers>=0.32.2
huggingface_hub>=0.25.0
transformers>=4.48.0
peft>=0.14.0
protobuf>=4.25.3

diffusers
accelerate
clip_interrogator>=0.6.0
lark
onnxruntime
opencv-python
sentencepiece
spandrel
matplotlib
peft

importlib_metadata
scipy
opencv-python>=4.7.0.72
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
albumentations
scikit-learn
matplotlib

clip-interrogator
simpleeval

cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image>=0.20.0
scikit-learn
timm>=0.4.12
tqdm
transformers

xformers==0.0.28.post3
triton==3.1.0
mediapipe==0.10.21
addict==2.4.0
yapf==0.43.0
fvcore==0.1.5.post20221221
omegaconf==2.3.0

